.full-width
  width: 100%

.full-height
  height: 100%

.find-id
  height: 37px;
  width: 25%;
  margin: 15px 0 0 0

.md-hint
  color: rgba(0, 0, 0, 0.54)
  position: absolute;
  font-size: 12px;

.outerspace
  background: #00c6ff
  background: linear-gradient(to left, #00c6ff , #0072ff)
        
.app-viewport
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-itens: center
  align-content: stretch

        
  




